<h1 class="text-center mt-4"> Edit categories</h1>
<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row justify-content-center">
    <div class= "col-10">
      <%= render 'form' %>
    </div>
  </div>
  <%= link_to "Back to category", category_path(@category), class:"row justify-content-center"%>
</div>